.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  background-image: url('../acess/english-backhrod.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.home-tilte{
  text-align:center;
}

.logout-button {
  padding: 10px 10px;
  background-color: #256dbb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.home-content {
  text-align: left;
  display: flex;
  flex: 1 1;
  margin-top: auto;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  opacity: 0.95;
}

.home-content-left{
  box-sizing: border-box;
  background: #fff;
  font-size: 40px;
  width: 500px;
  font-weight: 600;
  border-radius: 20px 0 0 20px;
  padding: 90px 20px 20px 20px;
}
.home-content-left h2 {
  font-size: 63px;
}

.home-content-right{
  box-sizing: border-box;
  background: #fff;
  width:600px;
  font-size: 20px;
  border-radius: 0 20px 20px 0;
  padding: 140px 20px 20px 20px;
}
