.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.login-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  background-image: url('../acess/english-backhrod.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 450px;
  max-width: 100%;
  height: 350px;

}

/* Tiêu đề form */
.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  color: #333;
}

/* Style cho nhóm trường input */
.form-group {
  margin-bottom: 15px;
}

/* Style label */
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
  color: #555;
}

/* Style cho input */
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  color: #333;
  box-sizing: border-box;
}

/* Style cho button login */
.login-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.login-button:hover {
  background-color: #0056b3;
}
.footer-container {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section {
  padding:10px 20px;
  min-width: 250px;
  margin-left: 20px
}

.footer-section h3,
.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  width: 100%;
  border-top: 1px solid #444;
  font-size: 14px;
}
