.statistics {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  background-color: wheat;
  background-image: url("../acess/english-backhrod.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.statistics-container {
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
  background: #fff;
  margin-top: 1%;
  margin-bottom: 1%;
}

h2,
h3 {
  text-align: center;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters input,
.filters select,
.filters button {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.filters button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #a776f9;
  cursor: pointer;
}

tr:hover {
  background-color: rgb(184, 92, 200);
}

.export {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.export:hover {
  background-color: #218838;
}
