.user-management {
  display: flex
  ;
      justify-content: flex-start;
      align-items: stretch;
      background-color: wheat;
      background-image: url('../acess/english-backhrod.webp');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: flex
  ;
      flex-direction: column;
      min-height: 100vh;
      overflow: hidden;
}

.user-title h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.add-button {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-button:hover {
  background: #218838;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid rgb(254, 255, 249);
}

th {
  background: rgb(255, 255, 255);
  color: black;
}
table th {
  background-color:#fff;
  cursor: pointer;
}
td {
  color: #000000;
}

.User-management-button button {
  background: #28a745;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 5px;
}

.User-management-button button:hover {
  background: #218838;
}

.User-management-button button:last-child {
  background: #dc3545;
}

.User-management-button button:last-child:hover {
  background: #c82333;
}
